section#intro{
	div.inner{
		div.left{
			@include make-md-column(4);
			padding-left: 0;
			padding-right: 15px;
			h2{
				margin-bottom: 15px;
			}
			p{
				font-size: 22px;
				@media #{$tablet}{
					font-size: 20px;
				}
			}
		}
		div.right{
			@include make-md-column(8);
			padding: 0;
			ul.rslides{
				li{
					position: relative;
					overflow: hidden;
					max-height: 400px;
					max-width: 750px;
					@media #{$mobile}{
						max-height: 160px;
						max-width: 100%;
					}
					a{
						display: block;
						position: relative;
						img.vendu{
							position: absolute;
							top: 0;
							right: 0;
							width: 50%;
							min-height: initial;
						}
						img{
							min-height: 400px;
							@media #{$mobile}{
								min-height: inherit;
							}
						}
					}
					p.caption{
						@media #{$mobile}{
							font-size: 15px;
							padding: 5px;
						}
						span{
							color: $saj-yellow;
							&:after{
								content: " $";
							}
						}
					}
				}
			}
			a.rslides_nav{
				@media #{$mobile}{
					display: none;
				}
			}
		}
		div.mobile{
			display: none;
			@media #{$mobile}{
				display: block;
			}
			margin-top: 15px;
			text-align: center;
			h2{
				padding-bottom: 15px;
			}
		}
	}
}

section#nouveau{
	position: relative;
	h2{
		margin-bottom: 15px;
	}
	div.owl-carousel{
		div.box{
			position: relative;
			div.item{
				position: relative;
				max-width: 270px;
				max-height: 184px;
				overflow: hidden;
				@media #{$mobile}{
					max-width: 100%;
				}
				a{
					position: relative;
					display: block;
					max-height: 184px;
					overflow: hidden;
					img{
						width: 100%;
						min-height: 184px;
					}
					img.vendu{
						position: absolute;
						top: 0;
						right: 0;
						width: 50%;
						min-height: initial;
						z-index: 10;
					}
				}
				div.sub-info{
					position: absolute;
					bottom: 0;
					width: 100%;
					padding: 5px;
					background: rgba(17,17,17,0.9);
				}
			}
		}
		div.owl-controls{
			position: absolute;
			top: -50px;
			right: 0;
			@media #{$mobile}{
				display: none;
			}
		}
	}
}

section#visit{
	position: relative;
	div.inner{
		div.left{
			@include make-sm-column(8);
			padding-left: 0;
			padding-right: 15px;
			h2{
				margin-bottom: 15px;
			}
			p{
				font-size: 22px;
				@media #{$mobile}{
					font-size: 14px;
				}
				@media #{$tablet}{
					font-size: 18px;
				}
			}
		}
		div.right{
			@include make-sm-column(4);
			padding: 0;
			img{
				width: 100%;
			}
		}
	}
}