// Grid settings
// -------------------------

$grid-columns:          12;
$main-sm-columns:       $grid-columns;
$grid-gutter-width: 	15px;
$sidebar-sm-columns:    4;

// Media Queries settings
// -------------------------

$mobile: 	"only screen and (max-width:767px)";
$tablet:  	"(min-width:768px) and (max-width:991px)";
$desktop:  	"only screen and (min-width:992px)";

// Saj Auto colors
// -------------------------

$saj-yellow:			#CBFF08;
$saj-turq:				#1de5f7;
$saj-grey:				#111111;

// Mixins
// -------------------------

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}